.search_main{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 604px;


    
}

.input{
    height: 50px;
    width: 508px;
    font-size: 28px;
    font-weight: 500;
    border-top-left-radius: 5px;
    /* border-bottom-left-radius: 5px; */
    display: flex;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(8px);

}

.search{
    height: 50px;
    width: 100px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    background-color: transparent;
    border-top-right-radius: 5px;
    /* border-bottom-right-radius: 5px; */
    backdrop-filter: blur(8px);

    
}